<div class="container">
  <h2>
    <%= @blog.title %>
  </h2>

  <p class="p1">
    By <%= @blog.author %>
    <% if current_user == @blog.user %>
    | <%= link_to "Edit", edit_blog_path(@blog) %>
    | <%= link_to "Delete", blog_path(@blog), method: :delete %>
    <% end %>
  </p>

  <h3>
    <%= @blog.intro %>
  </h3>

  <p class="p2">
    <%= @blog.body %>
  </p>

  <p>
    <strong>Comments:</strong>

    <%= render @blog.comments.order("created_at DESC") %>
  </p>

  <%= render 'comments/form' %>

  <%= link_to "Back", blogs_path %>
</div>
