<%# <h2>Edit Account <%= resource_name.to_s.humanize %1></h2> %>
<div class="container">
  <div>
    <span class="fs-2">Edit Account Info </span>

    <span class="fw-light">(<%= current_user.email %>)</span>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="col">
        <%= f.label :first_name %>
        <%= f.text_field :first_name,
          required: true,
          placeholder: "First name",
          class:"form-control" %>
      </div>

      <div class="col">
        <div class="form-outline">
          <%= f.label :last_name %>
          <%= f.text_field :last_name,
            required: true,
            placeholder: "Last name",
            class:"form-control" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email,
          required: true,
          autofocus: true,
          autocomplete: "email",
          class:"form-control" %>
      </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password,
          autocomplete: "current-password",
          class:"form-control"%>
      </div>

      <div class="col">
        <%= f.label :new_password %>
        <%= f.password_field :password,
          autocomplete: "new-password",
          class:"form-control" %>
      </div>

      <div class="col">
        <%= f.label :new_password_confirmation %>
        <%= f.password_field :password_confirmation,
          autocomplete: "new-password",
          class:"form-control" %><br />
      </div>

      <div class="actions">
        <%= f.submit "Save changes", class:"btn btn-sm btn-primary" %>
      </div>
    <% end %>
  <div>

  <hr>

  <h3>Permanently delete your Account</h3><br />

  <%= button_to "Continue to Account Deletion", registration_path(resource_name),
    data: { confirm: "Are you sure?" },
    method: :delete,
    class:"btn btn-sm btn-outline-danger" %><br />

  <%= link_to "Back", :back %>
</div>
